/* Conditions */
* {
    box-sizing: border-box;
  }

  html{
    font-size: 62.5%;
  } 

  body {
    margin: 0;
    padding: 0;
  }

  img {
    width: 100%;
  }

/* Header */
.cab{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    height: 100px;
}
.cab1{
    display: flex;
    margin-right: 20px;
}
.ccc a {
    width: 100%;
    display: flex;
    padding: 10px;   
}
.ccc{
    display: flex;
    justify-content: left;
    margin-left: 20px;
}
.list{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 5px;
}

.list :hover{
    color: #E37F4B;
}

.list a{
    color: black;
    font-family: 'Comfortaa', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    gap: 30px;
}

/* BODY 1 */
.pre{
  display: flex;
  flex-direction: row;
  position: relative;
  height: 90vh;
}

.previ{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 7px;
  padding: 25px;
  background-color: #EEEDED;
  z-index: 1;
}
.sec h1,h2,h3{
  color: #E37F4B;
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
}

.sec h1{
  font-size: 40px;
  font-weight: 700;
}

.sec h2{
  font-size: 25px;
}

.sec h3{
  font-size: 15px;
}

.sec button{
  color: black;
  background-color: white;
  font-family: 'Comfortaa', sans-serif;
  font-size: 20px;
  border-radius: 10px;
  padding: 1rem;
}

.sec button:hover{
  color: #6EE34B;
  background-color: #8F6550;
}
/* BODY 2 */

.sucu{
  gap: 4rem;
  height: 150rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Comfortaa', sans-serif;
}

.sucu img{
  width: 65rem;
  border-radius: 10px;
  border: solid;
  border-color: black;
  border-width: 1px;
}

.sucu h1{
  font-size: 4rem;
  font-weight: 700;
}

.sucu h3{
  font-size: 2rem;
}

.sucu h4{
  font-size: 2rem;
  font-weight: 700;
}

.sucu1{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rep{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 110rem;
  padding: 2rem;
  font-family: 'Comfortaa', sans-serif;
}

.rep h1{
  font-size: 4rem;
}

.rep h2{
  font-size: 2rem;
}

.rep img{
  width: 80%;
  border-radius: 10px;
  border: solid;
  border-width: 1px;
}

.rep1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.lsi{
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.lsi li{
  text-align: left;
  font-size: 2rem;
}

.reptxt{
  display: flex;
  gap: 5rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90rem;
  font-family: 'Comfortaa', sans-serif;
}

.reptxt h1{
  font-size: 3rem;
  font-weight: 700;
  color:  #E37F4B;
  text-align: center;
}

.reptxt p{
  font-size: 2rem;
}
.reptxt1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.detl{
  display: flex;
  padding: 1rem;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Comfortaa', sans-serif;
}

.detl h1{
  font-size: 3rem;
  font-weight: 700;
  color:  #E37F4B;
}

.detl p{
  font-size: 2rem;
}

.detltxt{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.detltxt h1{
  text-align: center;
}

.detl2{
  display: flex;
  padding: 1rem;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90rem;
  font-family: 'Comfortaa', sans-serif;
}

.detl2img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.detl2 img{
  width: 65rem;
  border: solid;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
}

.detl2txt{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.detl2 p{
  font-size: 2rem;
}


.cont{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 60rem;
}

.back2{
  width: 100%;
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-image: linear-gradient(0deg,
  rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../Imagenes/atencion.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.back2 h1{
  font-family: 'Comfortaa', sans-serif;
  font-size: 4rem;
  color: aliceblue;
}
 
.back2 button{
  font-family: 'Comfortaa', sans-serif;
  font-size: 20px;
  border-radius: 20px;
  padding: 1rem;
}

.back2 button:hover{
  color: #6EE34B;
  background-color: #8F6550;
}

.linn{
  width: 80%;
}

/* FOOTER */

.foot{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 3rem;
  height: 55rem;
  justify-content: space-around;
  font-family: 'Comfortaa', sans-serif;
}

.foot h6{
  font-size: 2.5rem;
  font-weight: 700;
}

.foot h3{
  font-size: 2rem;
}

.redsimg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.redsimg img{
  width: 70px;
}

.apropos a{
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
}

.apropos a:hover{
  color: #E37F4B;
}



@media (max-width: 720px){

.cab1 {
    align-items: center;
    justify-content: center;
}

.cab{
    flex-direction: column;
    height: 45rem;
}

.ccc a{
  width: 60%;
  height: 90%;
}

.ccc{
  align-items: center;
  justify-content: center;
}

.list{
  flex-direction: column;
}

.sec{
  width: 100%;
  height: 50%;
  gap: 3px;
}

.sec button{
  display: none;
}

.previ{
  margin-top: 13rem;
  height: 90%;
}

.sucutxt{
  padding: 2rem;
}

}